{% extends 'desing/base.html' %}

{% block title %}Menú Principal{% endblock %}

{% block content %}
<div class="form-container">
    <h1 class="text-center">Menú Principal</h1>
    <ul class="list-group">
        <li class="list-group-item">
            <a href="{% url 'euler_mejorado' %}" class="btn btn-primary btn-block">Método de Euler Mejorado</a>
        </li>
        <li class="list-group-item">
            <a href="{% url 'newton_raphson' %}" class="btn btn-primary btn-block">Método de Newton-Raphson</a>
        </li>
        <li class="list-group-item">
            <a href="{% url 'runge_kutta' %}" class="btn btn-primary btn-block">Método de Runge-Kutta 4° Orden</a>
        </li>
    </ul>
</div>
{% endblock %}